VITE_SUPABASE_URL=https://qhmkxgolpbzbdutwsvrn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFobWt4Z29scGJ6YmR1dHdzdnJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NDA4MTYsImV4cCI6MjA5NjExNjgxNn0.bcHO38EMrC0AcsbbA4NpxXZBVWToP23K2bf4M6vb4g4
